.validate-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 428px;
  max-height: 804px;
  background-color: white; /* SOLUCIONAR: No se aplica */
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(127, 89, 248, 0.2),
    0px 7px 10px 0px rgba(127, 89, 248, 0.14),
    0px 2px 16px 0px rgba(127, 89, 248, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  padding: 40px; /* Espaciado interno para que no queden pegados al borde */
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-text-validate-container {
  text-align: center;
  margin: 30px auto 10px;
  color: var(--color-primary-300);
}

.text-validate-input-title {
  display: block;
  margin-bottom: 20px;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.input-group {
  width: 100%;
}

.input-group input {
  width: 100%;
  height: 56px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin: 5px 0;
  font-size: var(--text-medium-medium);
  color: var(--color-neutral-800);
  background-color: var(--color-primary-50);
}

.input-group input:focus {
  outline: none;
  border: var(--color-primary-300);
}

/* Barra de búsqueda */
.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1; /* Para ocupar todo el espacio disponible */
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 8px;
  padding: 0.5rem 1rem; /* Espaciado interno */
  box-shadow: 0px 0px 5px 0px rgba(127, 89, 248, 0.2),
    0px 7px 10px 0px rgba(127, 89, 248, 0.14),
    0px 2px 16px 0px rgba(127, 89, 248, 0.12);
  border: 1px solid rgba(127, 89, 248, 0.2); /* Borde suave */
}

/* Icono de búsqueda */
.search-icon {
  width: 16px;
  height: 16px;
}
box-details-modal
/* Campo de entrada */
.search-box input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  color: var(--color-neutral-900);
  background-color: transparent; /* Para que el fondo dependa del contenedor */
}

/* ========================Modal=================== */
#detailsCertificate {
  /* Formulario del modal */
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  width: 428px;
  max-height: 804px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px; /* Espaciado interno para que no queden pegados al borde */
}

.box-details-modal {
  /* Contenedor de entradas */
  width: 100%;
}

.box-details-modal input {
  width: 100%;
  height: 56px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  font-size: var(--text-medium-medium);
  color: var(--color-neutral-800);
  background-color: var(--color-primary-50);
}

.box-details-modal input:focus {
  outline: none;
}


/* ==============MODAL================ */
.status-message {
  font-size: var(--text-medium-medium);
  margin-top: 10px;
}

.status-found {
  color: green;
}

.status-not-found {
  color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 428px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal.hidden {
  display: none;
}

.detail-text {
  display: block;
  width: 100%;
  height: 56px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: var(--color-primary-50);
  font-size: var(--text-medium-medium);
  color: var(--color-neutral-800);
  line-height: 1.5;
}

.button-container {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: right;
}

.action-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
  display: block;
}